---
title: Contact
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Contact  # as it will appear in the nav
  order: 4        # order to display in the nav
---

<div class="relative bg-white">
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="px-4 py-4 bg-gray-50 sm:px-6 lg:col-span-2 lg:px-8 lg:py-8 xl:pr-12">

		<p>Email Quinn Dombrowski at qad@stanford.edu with questions about the Textile Makerspace, message us on Instagram at @textilemakerspace, or [join our mailing list](https://mailman.stanford.edu/mailman/listinfo/textilemakerspace).</p>


    </div>
  </div>
</div>